<h3>Edit Yarn Price</h3>

<p><form action= "/edit_yarn_price">
  $<input type="number" min="0.01" step="0.01" name= "price" placeholder="new price">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form></p>