<h3>Edit Yarn location</h3>

<p><form action= "/edit_yarn_location">
  <input type="name" name= "store_location_name" placeholder="new item location">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form></p>