<h3>Edit Yarn Quantity</h3>

<p><form action= "/edit_yarn_quantity">
  <input type="number" min="0" step="1" name= "skeins" placeholder="new quantity">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form></p>