<h3>Edit Yarn Name</h3>

<p><form action= "/edit_yarn_name">
  <input type="name" name= "yarn_name" placeholder="new yarn name">
  
  <input type="hidden" name="x" value="<%= params["x"] %>">
  
  <input type="submit">
</form></p>