
<p><h1>Yarn Inventory Management System</h1></p>
<p><%= "#{'=' * 80}" %><p>
  
 <p><h2>Main Menu</h2></p>
 <ul>
  <a href = "/manage_inventory"><li>Manage Inventory</li></a>
  <a href = "/location"><li>Manage Locations</li></a>
  <a href = "/weight"><li>Manage Weights</li></a>
  <a href = "/view"><li>View Inventory</li></a>
  <a href = "/search"><li>Search Inventory</li></a>
 </ul>