<h3>Search By Store Location</h3>

  <p><h4>Choose a location to search:</h4></p>
  <% StoreLocation.all.each do |item| %>
  <ul>
    <li><a href="/search_by_location/<%= item.id %>"><%= item.id %>. <%= item.store_location %></a></li>
  </ul>
  <% end %>
<br><br>
    
<a href="/home">Return to Main Menu</a>
