<h3>Edit Weight Category</h3>

<form action="/edit_save">
  <p><h4>Choose a weight category to edit:</h4><select name="id"></p>
    <% Weight.all.each do |item| %>
    <option value="<%= item.id %>"> <%= item.weight %></option>
    <% end %>
  </select>
  
  <p>New Weight Name: <input type="text" placeholder="Weight Name" name="weight"></p>

  <p> <input type="submit" value="edit weight"></p>
</form>

<br><br>

<h3> Add New Weight Category</h3>

<form action= "/add_weight">
  <p>Weight Category Name: <input type="name" name= "weight"></p>

  <input type="submit" value="add weight">
</form></p>

<br><br>

<h3>Delete Weight Category</h3>

<form action= "/delete_weight">
  <p><h4>Choose a weight category to delete:</h4><select name="id"></p>
  <% Weight.all.each do |item| %>
      <option value="<%= item.id %>"><%= item.weight %></option>
      <% end %>
    </select>
  <p> <input type="submit" value="delete category"></p>
</form>

<br><br>
<a href = "/home">Return To Main Menu</a>