<p><h2>Inventory Management Menu</h2></p>

<ol>
  <a href = "/add_yarn_form"><li>Add Product To Inventory</li></a>
  <a href = "/edit_yarn_name_form"><li>Edit Product Name</li></a>
  <a href = "/edit_yarn_quantity_form"><li>Edit Product Quantity</li></a>
  <a href = "/edit_yarn_location_form"><li>Edit Product Location</li></a>
  <a href = "/edit_yarn_price_form"><li>Edit Product Price</li></a>
  <a href = "/delete_yarn_form"><li>Delete Product From Inventory</li></a>
  <a href = "/home"><li>Return To Main Menu</li></a>
</ol>
