<p><h2>Inventory Management Menu</h2></p>

<ol>
  <a href = "/add_yarn_form"><li>Add Product To Inventory</li></a>
  <a href = "/edit_inventory_item"><li>Edit Inventory Item</li></a>
  <a href = "/delete_yarn_form"><li>Delete Product From Inventory</li></a>
  <a href = "/home"><li>Return To Main Menu</li></a>
</ol>
