<h4>Weight Category Search for <%= @weight_category.weight %> Weight Yarn</h4>
  
<% @yarn_in_category.each do |item|  %>
  <p> <%="Brand: #{item.brand}, Name: #{item.name}, Color: #{item.color}, Fiber: #{item.fiber}, Price: $#{item.price}, Quantity: #{item.skeins} skeins"%> </p>
<%end%>
    
<br><br>
<a href="/home">Return to Main Menu</a>