<p><h2>Inventory Search Menu</h2></p>

<ul>
  <a href = "/weight_list"><li>Search By Weight</li></a>
  <a href = "/location_list"><li>Search By Location</li></a>
  <a href = "/home"><li>Return to Main Menu</li></a>
</ul>