<h4>Store Inventory for <%= @specific_location.store_location %> Location</h4>
  
<% @yarn_at_store.each do |item|  %>
  <p> <%="Brand: #{item.brand}, Name: #{item.name}, Color: #{item.color}, Fiber: #{item.fiber}, Price: $#{item.price}, Quantity: #{item.skeins} skeins"%> </p>
<%end%>
    
<br><br>
<a href="/home">Return to Main Menu</a>