<p><h3>View Inventory</h3></p>

<% Yarn.all.each do |item| %>
  <p><%= "#{item.id}. #{item.brand} #{item.name}: #{item.color} #{item.fiber}, $#{item.price} #{item.skeins} skeins" %></p>
<% end %>
<p><a href = "/home">Return To Main Menu</a><p>

