<h3>Search By Weight Category</h3>

  <p><form action= "/search_by_weight">

  <p><h4>Choose a weight category to search:</h4><select name="id"></p>
  <% Weight.all.each do |item| %>
      <option value="<%= item.id %>"><%= item.weight %></option>
      <% end %>
    </select>
  <p> <input type="submit" value="search category"></p>
</form>