<h3>Search By Weight Category</h3>

  <p><h4>Choose a weight category to search:</h4></p>
  <% Weight.all.each do |item| %>
  <ul>
    <li><a href="/search_by_weight/<%= item.id %>"><%= item.id %>. <%= item.weight %></a></li>
  </ul>
  <% end %>
<br><br>
    
<a href="/home">Return to Main Menu</a>